# Create File for SQL database

Search the information about population of the provinces (Maakunnat) by years from Tilastokeskus open data. After that merge information into Maakunnat data used in Onnettomuudet db's Alueet table. So can create new table Väestö and store new data there.

In [2]:
# Used libraries
import pandas as pd
import numpy as np

In [4]:
# File path and name
src_file = '../datasets/onnettomuus/db/väestö_maakunnittain.csv'
target_file = '../datasets/onnettomuus/db/väestö_maakunnittain.csv'
result_file = '../datasets/onnettomuus/db/väestö_maakunnittain_db.csv'

# File attributes
src_delimiter = ';'
src_encoding = 'utf-8'
rslt_delimiter = ';'
rslt_encoding = 'utf-8'

### Download source files

In [9]:
# Information about population of the Maakunnat by years
df = pd.read_csv(src_file, delimiter=src_delimiter, encoding=src_encoding)

In [10]:
df

,Vuosi,Ei tiedossa,Uusimaa,Varsinais-Suomi,Satakunta,Kanta-Häme,Pirkanmaa,Päijät-Häme,Kymenlaakso,Etelä-Karjala,Etelä-Savo,Pohjois-Savo,Pohjois-Karjala,Keski-Suomi,Etelä-Pohjanmaa,Pohjanmaa,Keski-Pohjanmaa,Pohjois-Pohjanmaa,Kainuu,Lappi
0,2005,0,1439400,453745,229389,167630,467424,206021,178205,134962,152171,256740,173018,266047,199150,168361,67369,381792,82214,186443
1,2006,0,1452083,455584,228675,168381,471409,206240,177931,134786,151395,255683,172633,266770,198856,168583,67612,384808,81585,185800
2,2007,0,1467453,457789,228051,169952,476221,206481,176995,134441,150471,255094,171758,266905,198626,169170,67632,387320,80738,184935
3,2008,0,1483719,459235,227131,171449,480634,207269,176356,133899,149032,254367,170896,267998,198831,169971,67898,390038,80218,184390
4,2009,0,1501511,461177,226358,173041,484638,207940,175661,133647,147892,253899,170194,269108,198502,170994,67991,392652,79690,183963
5,2010,0,1517542,462914,226116,173828,488295,208331,175556,133210,146979,253605,169937,270195,198477,172085,68131,395510,79234,183748
6,2011,0,1532309,465183,225762,174555,491746,208777,175377,132899,146166,253337,169778,271083,198469,172981,68321,398335,78703,183488
7,2012,0,1549058,467217,225302,175230,495242,209238,174827,132527,145353,253472,169733,271874,198671,174170,68484,401201,77984,183330
8,2013,0,1566835,468936,224934,175472,499006,209503,174466,132355,144393,253524,169496,272723,198944,174777,68610,403920,77435,182844
9,2014,0,1585473,470880,224556,175481,502575,209405,173864,132252,143638,253643,169112,272911,198831,175530,68677,406480,76782,182514
10,2015,0,1603388,472725,223983,175350,505756,208959,172908,131764,142746,253585,168896,272986,198242,176314,68832,408536,76119,181748
11,2016,0,1620261,474323,222957,174710,508448,208525,171778,131155,141621,253239,168329,273446,197371,176894,69032,410054,75324,180858
12,2017,0,1638293,475543,221740,173781,511642,208574,170770,130506,140422,252815,167599,273910,196572,176729,69027,411150,74803,180207
13,2018,0,1655624,477677,220398,172720,514333,208048,168691,129865,138822,251570,166441,273779,195583,176272,68780,411856,73959,179223
14,2019,0,1671024,478582,218624,171364,517333,207394,166623,128756,136474,250414,165569,273283,194316,176193,68437,412161,73061,178522
15,2020,0,1689725,479341,216752,170925,519872,206315,164456,127757,134314,249003,164465,272898,193207,175923,68158,412830,72306,177161
16,2021,0,1702678,481403,215416,170577,522852,205771,162812,126921,132702,248265,163537,272617,192150,175816,67988,413830,71664,176665

In [5]:
# Used Maakunnat data in Alueet table
df_m = pd.read_csv('../datasets/onnettomuus/db/maakunnat.csv', delimiter=src_delimiter, encoding=src_encoding)
df_m

    Maakunta         Maakuntsel
0          0        Ei tiedossa
1          1            Uusimaa
2          2    Varsinais-Suomi
3          4          Satakunta
4          5         Kanta-Häme
5          6          Pirkanmaa
6          7        Päijät-Häme
7          8        Kymenlaakso
8          9      Etelä-Karjala
9         10         Etelä-Savo
10        11       Pohjois-Savo
11        12    Pohjois-Karjala
12        13        Keski-Suomi
13        14    Etelä-Pohjanmaa
14        15          Pohjanmaa
15        16    Keski-Pohjanmaa
16        17  Pohjois-Pohjanmaa
17        18             Kainuu
18        19              Lappi

In [11]:
# Change index for looping data
df.set_index(df.columns[0], inplace=True)
df

,Ei tiedossa,Uusimaa,Varsinais-Suomi,Satakunta,Kanta-Häme,Pirkanmaa,Päijät-Häme,Kymenlaakso,Etelä-Karjala,Etelä-Savo,Pohjois-Savo,Pohjois-Karjala,Keski-Suomi,Etelä-Pohjanmaa,Pohjanmaa,Keski-Pohjanmaa,Pohjois-Pohjanmaa,Kainuu,Lappi
Vuosi,,,,,,,,,,,,,,,,,,,
2005,0,1439400,453745,229389,167630,467424,206021,178205,134962,152171,256740,173018,266047,199150,168361,67369,381792,82214,186443
2006,0,1452083,455584,228675,168381,471409,206240,177931,134786,151395,255683,172633,266770,198856,168583,67612,384808,81585,185800
2007,0,1467453,457789,228051,169952,476221,206481,176995,134441,150471,255094,171758,266905,198626,169170,67632,387320,80738,184935
2008,0,1483719,459235,227131,171449,480634,207269,176356,133899,149032,254367,170896,267998,198831,169971,67898,390038,80218,184390
2009,0,1501511,461177,226358,173041,484638,207940,175661,133647,147892,253899,170194,269108,198502,170994,67991,392652,79690,183963
2010,0,1517542,462914,226116,173828,488295,208331,175556,133210,146979,253605,169937,270195,198477,172085,68131,395510,79234,183748
2011,0,1532309,465183,225762,174555,491746,208777,175377,132899,146166,253337,169778,271083,198469,172981,68321,398335,78703,183488
2012,0,1549058,467217,225302,175230,495242,209238,174827,132527,145353,253472,169733,271874,198671,174170,68484,401201,77984,183330
2013,0,1566835,468936,224934,175472,499006,209503,174466,132355,144393,253524,169496,272723,198944,174777,68610,403920,77435,182844
2014,0,1585473,470880,224556,175481,502575,209405,173864,132252,143638,253643,169112,272911,198831,175530,68677,406480,76782,182514
2015,0,1603388,472725,223983,175350,505756,208959,172908,131764,142746,253585,168896,272986,198242,176314,68832,408536,76119,181748
2016,0,1620261,474323,222957,174710,508448,208525,171778,131155,141621,253239,168329,273446,197371,176894,69032,410054,75324,180858
2017,0,1638293,475543,221740,173781,511642,208574,170770,130506,140422,252815,167599,273910,196572,176729,69027,411150,74803,180207
2018,0,1655624,477677,220398,172720,514333,208048,168691,129865,138822,251570,166441,273779,195583,176272,68780,411856,73959,179223
2019,0,1671024,478582,218624,171364,517333,207394,166623,128756,136474,250414,165569,273283,194316,176193,68437,412161,73061,178522
2020,0,1689725,479341,216752,170925,519872,206315,164456,127757,134314,249003,164465,272898,193207,175923,68158,412830,72306,177161
2021,0,1702678,481403,215416,170577,522852,205771,162812,126921,132702,248265,163537,272617,192150,175816,67988,413830,71664,176665

In [12]:
# Looping data values into lists for creating new dataframe
value1 = [] # Väestö amount from table
value2 = [] # Maakuntsel name from table header
value3 = [] # Vuosi value from table index

for index in range(df.shape[1]): # Loop through columns
    for i in range(len(df)):     # Loop through rows
        value1.append(df.iloc[i][index])
        value2.append(df.iloc[i:i+1,index].name)
        value3.append(df.index[i])

In [15]:
# Insert data values lists into dataframe columns
df_t = pd.DataFrame(columns=['Väestö','Maakuntsel','Vuosi'])
df_t['Väestö'] = pd.DataFrame(value1)
df_t['Maakuntsel'] = pd.DataFrame(value2)
df_t['Vuosi'] = pd.DataFrame(value3)

In [16]:
df_t

     Väestö   Maakuntsel  Vuosi
0         0  Ei tiedossa   2005
1         0  Ei tiedossa   2006
2         0  Ei tiedossa   2007
3         0  Ei tiedossa   2008
4         0  Ei tiedossa   2009
..      ...          ...    ...
318  180207        Lappi   2017
319  179223        Lappi   2018
320  178522        Lappi   2019
321  177161        Lappi   2020
322  176665        Lappi   2021

[323 rows x 3 columns]

In [17]:
# Merge dataframes into result using column with the same content
df_result = pd.merge(df_m,df_t,on='Maakuntsel')

In [18]:
df_result

     Maakunta   Maakuntsel  Väestö  Vuosi
0           0  Ei tiedossa       0   2005
1           0  Ei tiedossa       0   2006
2           0  Ei tiedossa       0   2007
3           0  Ei tiedossa       0   2008
4           0  Ei tiedossa       0   2009
..        ...          ...     ...    ...
318        19        Lappi  180207   2017
319        19        Lappi  179223   2018
320        19        Lappi  178522   2019
321        19        Lappi  177161   2020
322        19        Lappi  176665   2021

[323 rows x 4 columns]

In [154]:
# Create result csv file for inserting database
df_result.to_csv(result_file, sep=rslt_delimiter, encoding=rslt_encoding, index=False)